services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "3000:3000"
    cap_add:
      - NET_RAW
      - NET_ADMIN
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "8080:3000"
    depends_on:
      - backend
    restart: unless-stopped